<div class="barNav"> 
    <a href="http://carterrink.com/">&copy;&reg;</a>
    
    <a href="#">Recent Posts</a>
    <a href="#">CSS</a>
    <a href="#">JavaScript</a>
    <a href="#">Design</a>  
</div>

<div class="cover" onclick="toggleNav();"></div>
<div class="hamburger" id="hamburger" onclick="toggleNav();">
  <div></div>
  <div></div>
  <div></div>
</div>    
    
<nav>
  <div class="logo">
    <h1>&copy;&reg;</h1>
  </div>
  <div class="links">
    <a class="active" href="">Home</a>
    <a href="#">CSS</a>
    <a href="#">JavaScript</a>
    <a href="#">Design</a>
  </div>
  <footer>
    <p>carter.m.rink@gmail.com</p>
  </footer>
</nav>